#sel {
    background: yellow;
    color: red;
    margin: 10px;
    padding: 10px;
}

#url {
    width: 50%;
}

.siteUrl {
    padding-bottom: 0px;
    padding-top: 0px;
    margin: 0px;
}

.mediaUrl {
    margin-left: 1.5em;
}

.site {
    padding: 10px;
}